/* --------------- reset.css --------------- */
* {box-sizing: border-box;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                            
	vertical-align: baseline;         
	background: transparent;      
	font-size: 100%;                     
}
a {                                      	     
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
input, select, button, textarea {
	margin: 0; 			
	font-size: 100%; 		
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
  list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- basic settings ---------*/
html {
	height:100%; 
}

body {
	color: #606060;
	/*text-align: left;*/
	font-size: 1em; 
	font-family: UniSansRegular; 
	min-height:100%;
}
@font-face {
  font-family: UniSansRegular; 
  src: url("../fonts/UniSansRegular.ttf"); 
}
@font-face {
  font-family: IntroHeadH-H2Base; 
  src: url("../fonts/IntroHeadH-H2Base.ttf"); 
}
@font-face {
  font-family: IntroHeadB-LBase; 
  src: url("../fonts/IntroHeadB-LBase.ttf"); 
}
@font-face {
  font-family: IntroHeadH; 
  src: url("../fonts/IntroHeadH.ttf"); 
}
@font-face {
  font-family: UniSansSemiBold.ttf; 
  src: url("../fonts/UniSansSemiBold.ttf"); 
}
a, a:visited {
	color: #4C6A86;
	text-decoration: underline;
}
a:hover {
	color: #FF803A;
	text-decoration:none;
}
a:focus, a:active {
	color: #339933;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
  max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
/* --------------- basic settings ---------*/
body {
  background: url("../images/background.png");
  width: 100%;
  height: 100%;
  z-index: 1;
}
section {
  text-align: center;
  
}
.container {
  position: relative;
	max-width: 960px;
	margin: 0 auto;
  height: 100%;
  min-height: inherit;
}
header {
	position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 10;
}
header .logo {
  float: left;
  padding-top: 10px;
}
header .contact {
  float: right;
  text-align: right;
  font-size: 0.875em;
  font-weight: bold;
}
header .phone {
  font-size: 0.875em;
  font-family: UniSansRegular; 
  border: 2px solid #000;
  margin-top: 3px;   
  padding: 2px 5px 4px 5px;
  cursor: pointer;
}
header input {
  display: block;
  font-family: UniSansRegular; 
  font-weight: bold;
  background: none;
  border: 1px solid #000;
  width: 136px;
  height: 26px;
  box-sizing: border-box;
 }

 /*------------------section_1---------------------*/
.promo {
	width: 100%;
  height: 884px;
  overflow: hidden;
  background: url("../images/bg1.jpg");
  background-size: cover;  
}
.block {
  width: 1025px;
  padding-top: 130px;
  padding-left: 70px;
  margin: 0 auto;
}
.block_l {
  float: left;
  width: 39.37%;
  padding-top: 60px;
}
.block_l .imgttl {
  margin-bottom: 30px;
}
.btn {
  background: #752401; 
  width: 378px;
  height: 57px;
  margin-top: 18px;
}
span.txt {
 font-family: UniSansRegular; 
 font-size: 0.875em;
 color: #FFF;
 text-transform: uppercase;
 border: 1px solid #FFF;
 padding: 10px 0;
 cursor: pointer;
 display: block;
}
span.arrow {
  padding-left: 10px;
}
.block_r {
  float: right;
  width: 60%;
}
/*------------------section_2---------------------*/
section.gift {
	position: relative;
  width: 100%;
  height:998px;
  background: url("../images/bg2.jpg") no-repeat center;
  background-size: cover;
}
section.gift .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.gift .decor img {
	margin-top: 96px;
}
h2 {
 
  font-size: 2.812em;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-top: 30px;
}
.gift-wrap {
  margin-top: 72px;
}
.gift-item {
  float: left;
  width: 33.33%;
}
.gift-item .frame {
  height: 191px;
  background: url("../images/frame.png") no-repeat center;
}
h4 {
  text-align: center;
  font-size: 1.375em;
  font-weight: bold;
  color: #752401;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.gift-item p {
  line-height: 1.2em;
  padding-top: 50px;
}
/*------------------section_3---------------------*/

section.action {
  position: relative;
  width: 100%;
  height: 865px;
  background: url(../images/bg3.jpg) no-repeat center;
  background-size: cover;
}
section.action .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.action .decor img {
	margin-top: 96px;
}
.title p.descr {
  font-size: 1.375em;
  color: #000;
}
p.descr span.thr {
  text-decoration:line-through;
}
p.descr span.clr {
  color: #752401;
}
p.descr span.cpt {
  text-transform:capitalize  
}
.action-wrap {
	margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*/*form {*/
  /*flex: 1 1 400px;*/
}*/
.left {
  position: relative;
  margin-right: 20px;
}
.left .inp {
  margin-bottom: 70px;
}
.right .inp {
  margin-bottom: 54px;
}
input {
  display: block;
  background: none;
  border: 0px;
  border-bottom: 1px solid #8B9394;
  width: 370px;
  height: 40px;
  color:#2A2A2A;
  box-sizing: border-box;
 }
.action .text {
  font-family: UniSansRegular;
  padding-left: 30px;
 }
.action .btn {
  margin-top: 0px;
}
.inp {
  position: relative;
} 
.inp:before {
  content: " ";
  border: 1px solid #757575;
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  bottom: -4px;
  left: 0;
  background-color: #757575;
  display: block;
} 
h3 {
  font-size: 1.375em;
  margin-right: 16px;
  margin-bottom: 26px;
  word-spacing: 1.5px; 
  letter-spacing:1.2px;
}
.timer {
	display: flex;
  justify-content: center;
  position: relative;
  
}
.board {
 	border: 1px solid #000;
 	height: 82px;
 	width: 49px;
 	font-family: IntroHeadB-LBase;  
	font-size: 2.625em;
	color: #000;
	line-height: 84px;
	margin-bottom: 10px;
	position: relative;
}
.cell {
	margin-right: 18px;
	position: relative;
}
.cell .txt {
	font-family: UniSansBook.ttf;
	color: #232323;
}
.board:after {
	content: ":";
	display: block;
	position: absolute;
	line-height: 74px;
	left:-14px;
	top:0;
	color: #7D7E7E;
}
.cell:first-child .board:after {
	display: none;
}
.decor3l {
  background: url(../images/decor3l.png) no-repeat;
	position: absolute;
	width: 130px;
	height: 15px;
	top: 40px;
	left: -150px;
}
.decor3r {
  background: url(../images/decor3r.png) no-repeat;
	position: absolute;
	width: 130px;
	height: 15px;
	top: 40px;
	right: -150px;
}
/*------------------section_4---------------------*/

section.products {
  position: relative;
  width: 100%;
  height: 1721px;
  background: url(../images/bg4.jpg) no-repeat, center;
  background-size: cover;
}
section.products .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.products .decor img {
	margin-top: 96px;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 52px;
}
.samples {
	max-width: 318px;
	margin: 0 auto;
}
.samples img {
	/*margin-bottom: 28px;*/
}	
/*------------------------effect------------------------------*/
.hover_effect {
	position: relative;
	margin-bottom: 28px;
 }
.mask {
  position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.mask a {
	display: block;
	border: 2px solid #E5AF88;
  background: url(../images/targ.png) no-repeat center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.hover_effect:hover .mask {
  background: rgba(0,0,0,.3);
  padding: 10px;
  transition: all .4s ease-in-out;
} 
.hover_effect:hover .mask a {
	opacity: 1;
}
/*------------------section_5---------------------*/

section.result {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../images/bg5.jpg) no-repeat center;
  background-size: cover;
}
section.result .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.result .decor img {
	margin-top: 96px;
}
.res-wrap {
	margin-top: 70px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item {
	width: 220px;
}
.result .item .icon {
	height: 100px;
  background: url("../images/icon1.png") no-repeat center;
  margin: 0 auto;
}
.item p.txt {
	font-size: 1.125em;
	margin-top: 20px;
}
/*-------------------------section_6--------------------------------*/

section.work {
  position: relative;
  width: 100%;
  height: 608px;
  background: url(../images/bg6.jpg) no-repeat center;
  background-size: cover;
}
section.work .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.work .decor img {
	margin-top: 96px;
}
section.work h2 {
	color: #FFF;
}
.work-wrap {
	margin-top: 150px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.work-act {
	width: 300px;
	position: relative;
}
.act_01  {
	background: url("../images/act_01.png") no-repeat;
	width: 106px;
  height: 106px;
	position: absolute;
	top: -35px;

}
.act_02 {
	background: url("../images/act_02.png") no-repeat;
	width: 106px;
  height: 106px;
	position: absolute;
	top: -35px;
	}
.act_03 {
	background: url("../images/act_03.png") no-repeat;
	width: 106px;
  height: 106px;
	position: absolute;
	top: -35px;
}
.work-act h4 {
	color:  #f9ddc4;
  text-align: left;
}
.work-act p {
	font-size: 1.125em;
	color: #FFF;
	text-align: left;
}
.work-act p:after {
	content: " ";
	background: url(../images/arrows-work.png) no-repeat;
	width: 17px;
	height: 29px;
	display: block;
	position: absolute;
	right: -3px;
	bottom: 42px;
}
.work-act:last-child p:after {
	display: none;
}
/*-----------------section_7-------------------------*/
section.reviews {
  position: relative;
  width: 100%;
  height: 940px;
  background: url(../images/bg7.png) no-repeat center;
  background-size: cover;
}
section.reviews .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.reviews .decor img {
	margin-top: 96px;
}
.reviews-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.reviews-wrap .rev {
	margin-top: 80px;
  width: 49%
}
.rev .rev_img {
	float: left;
	height: 150%;
	margin-right: 20px;
}
.rev .line_h {
	position: absolute;
	border-bottom: 4px solid #C39575;
	width: 60px;
	left: 29%;
}
.rev .rev-txt {
	position: relative;
	text-align: left;
	margin-right: 20px;
}
h5 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.rev h6 {
	font-size: 0,67em;
	margin-bottom: 15px;
}
.rev .rev-txt p {
	margin-top: 30px;
}
/*---------------------section_8--------------------------------*/
section.ordering {
  position: relative;
  width: 100%;
  height: 865px;
  background: url(../images/bg8.jpg) no-repeat center;
  background-size: cover;
}
section.ordering .line {
  border-left: 1px solid #6B6B6B;
  height: 140px;
	position: absolute;
  left: 50%;
  top: -70px;
}
.ordering .decor img {
	margin-top: 96px;
}
.ordering h3 {
  font-size: 1.375em;
  color: #FFF;
  margin-top: 35px;
  margin-bottom: 26px;
}
.ordering-wrap {
	margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left {
  position: relative;
  margin-right: 20px;
}
.left .inp {
  margin-bottom: 70px;
}
.right .inp {
  margin-bottom: 54px;
}
.ordering input {
  display: block;
  background: none;
  border: 0px;
  border-bottom: 1px solid #FFF;
  width: 370px;
  height: 40px;
  color:#FFF;
  box-sizing: border-box;
 }
.ordering .text {
  font-family: UniSansRegular;
  padding-left: 30px;
  color: #FFF;
 }
.ordering .btn {
  margin-top: 0px;
}
.ordering .inp {
  position: relative;
} 
.ordering .inp:before {
  content: " ";
  border: 1px solid #FFF;
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  bottom: -4px;
  left: 0;
  background-color: #FFF;
  display: block;
} 
/*--------------------------footer------------------------------------*/
footer {
	background: url(../images/bg-foot_1.png) no-repeat center;
	width: 100%;
	height: 215px;
	position: absolute;
	bottom: 0;
}
.footer-wrap {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .logo {
	padding: 0 3px;
	line-height: 230px;
}
footer .contact {
	padding: 65px 3px;
  font-size: 0.875em;
  color: #eaeaea;
  font-weight: bold;
}
footer .phone {
  font-size: 0.875em;
  font-family: UniSansRegular; 
  border: 2px solid #000;
  margin-top: 5px;   
  padding: 2px 5px 4px 5px;
  cursor: pointer;
}
footer input.tel {
  display: block;
  margin-top: 5px;
  font-family: UniSansRegular; 
  font-weight: bold;
  background: none;
  border: 1px solid #eaeaea;
  width: 136px;
  height: 26px;
  box-sizing: border-box;
  cursor: pointer;
 }
 footer .icon-footer {
 	margin-top: 5px;
 	text-align: right;
 }
 footer .icon-footer i {
  color: #fff;
  margin-left: 10px; 
 }
 
 /*----------------------------gs----------------------------*/
 .gs {
 	background: url(../images/bg-gs.png) no-repeat center;
 	height: 40px;
 	line-height: 40px;
 }
 nav .menu li {
  display: table-cell;
  padding: 0 10px;
  float: left;
  font-family: 'Open Sans', sans-serif;
 	font-size: 0.75em;
}
 nav .menu li a {
 	display: block;
 	color:#656565;
 	text-decoration: none;
}
 nav .copyr {
 	height: 27px;
 	float: right;
 	padding-top: 6px;
}
 	
 






